.skills {
    display:flex;
    flex-direction: column;
    width:100%
}
.skillsection {
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;
}
.skillsectiontitle {
    font-size: 24px;
    font-weight: 600;
}
.skillslist {
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    justify-content: flex-end;
}

@media only screen and (max-width: 720px){
    .skillslist{
        max-width: 100%;
        justify-content: center;
    }
    .skillsection {
        flex-direction: column;
        align-items: center;
    }
}