.card {
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    padding: 8px 0px;
}
.projectimage {
    width: 40%;
}
.projectinfo {
    margin-right: 24px;
}
.projecttitle {
    font-size: 24px;
    font-weight: 600;
}
.projecttags {
    display:flex;
    max-width: 60%;
    flex-wrap:wrap;
}
.tag {
    padding: 4px 8px;
    background-color:rgb(57,255,20);
    border-radius: 4px;
    margin-right: 6px;
    margin-bottom:4px;
}
.projectlinks a{
text-decoration: none;
color: black;
}
.prohectlinks {
    margin-top:6px;
    display: flex;
}
.linkbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    width: max-content;
    padding:4px 8px;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 6px;

}
.linkbutton i{
    display: flex;
    align-items: center;
    margin-right: 4px;
}
@media only screen and (max-width: 720px){
    .projectimage {
        width: 70%;
    }
    .card {
        flex-direction: column-reverse;
    }
    .projectinfo {
        margin-left: 8px;
        margin-top:12px;
    }
    .projecttags {
        max-width: 100%;
    }
}