.separator {
    background-image: linear-gradient(to right top, #bb2078, #b0288b, #a0339d, #8a3ead, #6b49bb, #565dcb, #3b6fd8, #007fe2, #009bec, #00b2e9, #00c7dd, #2fdacf);
    height: 6px;
    width: 40%;
    border-radius: 3px;
    margin: 16px 0px
}