.about {
    padding-bottom: 48px;
}
.about-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myrepresent {
    height: 420px;
}
.about-info {
    font-size: 24px;
}
.type1 {
    color:  darkgoldenrod;
    font-size: 32;
}
.type2 {
    color:  rgb(255, 128, 0);
    font-size: 32;

}
.type3 {
    color:  rgb(58, 108, 201);
    font-size: 32;
}
.type123 {
    color: rgb(238,75,43);
    font-size: 32;
}
.type4 {
    color:  rgb(44, 203, 15);
    font-size: 32;
}
.type5 {
    color: chocolate;
    font-size: 32;
}
@media only screen and (max-width: 720px){
    .about-top {
        flex-direction: column;
        justify-content: center;
    }
    .myrepresent {
        height: 280px;
    }
    .about-info {
        font-size: 20px;
    }
    .type {
        font-size: 24px;
    }
}